@page
@model ConfirmationModel
@using homework_3_jacalva.Models

<h1>Order Confirmed!</h1>

<dl class="row">

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.OrderObject.FirstName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.OrderObject.FirstName)
    </dd>

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.OrderObject.LastName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.OrderObject.LastName)
    </dd>

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.OrderObject.Email)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.OrderObject.Email)
    </dd>

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.OrderObject.Address)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.OrderObject.Address)
    </dd>

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.OrderObject.Country)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.OrderObject.Country)
    </dd>

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.OrderObject.State)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.OrderObject.State)
    </dd>

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.OrderObject.Zip)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.OrderObject.Zip)
    </dd>       

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.OrderObject.SameShippingInfo)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.OrderObject.SameShippingInfo)
    </dd>
    
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.OrderObject.SaveInformation)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.OrderObject.SaveInformation)
    </dd>
    
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.OrderObject.PaymentType)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.OrderObject.PaymentType)
    </dd>

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.OrderObject.NameOnCard)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.OrderObject.NameOnCard)
    </dd>

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.OrderObject.CardNumber)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.OrderObject.CardNumber)
    </dd>

</dl>